/.deps/
/.libs/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/libtool
/resources.c
/resources.h
/resources/.deps/
/resources/.dirstamp
/resources_generator
/src/.deps/
/src/.dirstamp
